.layout-1 {
  .css-bg-vision-1 {
    background-image: url('/image/bg/vision_1.png');
  }
  .css-bg-vision-2 {
    background-image: url('/image/bg/vision_2.png');
  }
  .css-bg-vision-3 {
    background-image: url('/image/bg/vision_3.png');
  }
  .css-wrapper {
    padding: 10px;
    background: {
      position: center;
      size: cover;
      repeat: no-repeat;
    }
    .css-content {
      max-width: 600px;
      margin: 0px auto;
      padding: 10px;
      background: rgba(255,255,255,.7);
      box-shadow: 2px 2px 5px rgba(0,0,0,.7);
      h2 {
        padding: 5px 25px;
        margin: 0px auto 10px;
        border: 1px solid #1565C0;
        background: rgba(255,255,255,.5);
        color: #1565C0;
        font-size: 24px;
        text-align: center;
        box-shadow: 2px 2px 5px rgba(0,0,0,.5);
        display: inline-block;
      }
      .css-title {
        padding: 0px 10px;
        font-size: 30px;
      }
      .css-description {
        padding: 10px;
      }
    }
  }
  h2 {
    font-size: 30px;
  }
}