.layout-1 {
  .css-bg-vision {
    background-image: url('/image/bg/vision.jpg');
  }
  .css-bg-classroom {
    background-image: url('/image/bg/classroom.jpg');
  }
  .css-bg-technology {
    background-image: url('/image/bg/technology.jpg');
  }
  .css-bg-sky {
    background-image: url('/image/bg/sky.jpg');
  }
  .css-bg-vision-1 {
    background-image: url('/image/bg/vision.jpg');
  }
  .css-bg-vision-2 {
    background-image: url('/image/bg/workshop.png');
  }
  .css-bg-vision-3 {
    background-image: url('/image/bg/actions.jpg');
  }
  .css-wrapper {
    padding: 10px;
    background: {
      position: top;
      size: contain;
      repeat: no-repeat;
    }
    .css-content {
      max-width: 600px;
      margin: 0px auto 10px;
      padding: 10px;
      background: rgba(255,255,255,.7);
      box-shadow: 2px 2px 5px rgba(0,0,0,.7);
      h2 {
        padding: 5px 25px;
        margin: 0px auto 10px;
        border: 1px solid #1565C0;
        background: rgba(255,255,255,.5);
        color: #1565C0;
        font-size: 24px;
        text-align: center;
        box-shadow: 2px 2px 5px rgba(0,0,0,.5);
        display: inline-block;
      }
      .css-title {
        padding: 0px 10px;
        font-size: 30px;
      }
      .css-description {
        padding: 10px;
      }
      .css-next-link {
        width: 160px;
        padding: 10px 15px;
        margin: 10px auto;
        border: 1px solid #FF5722;
        background: #FFF;
        color: #FF5722;
        text-decoration: none;
        text-align: center;
        box-shadow: 1px 1px 3px rgba(0,0,0,.5);
        display: block;
        &:hover {
          background: #FF5722;
          color: #FFF;
        }
      }
    }
  }
  h2 {
    font-size: 30px;
  }
}

@media screen and (min-width: 501px){
  .layout-1 {
    .css-wrapper {
      .css-content {
        .css-description {
          p {
            font-size: 18px;
          }
        }
      }
    }
  }
}