.layout-4 {
  .css-bg-shelf {
    background: {
      image: url('/image/bg/bookshelf.jpg');
      size: cover;
      position: center;
    }
  }
  .css-wrapper {
    min-height: 500px;
    padding: 10px 0px;
    .css-header {
      padding: 9px;
      margin: 0px 10px 10px;
      border: 1px solid #FFFFFF;
      background: rgba(255,255,255,.7);
      h2 {
        padding-bottom: 20px;
        font-size: 30px;
      }
    }
    .css-contents {
      .css-content-wrapper {
        width: 100%;
        float: left;
        .css-content {
          height: 155px;
          padding: 9px;
          border: 1px solid #FFFFFF;
          margin: 0px 10px 10px;
          background: rgba(255,255,255,.7);
          box-shadow: 1px 1px 1px rgba(0,0,0,.5);
          overflow: hidden;
          transition: all 300ms 0s ease;
          &:hover {
            background: rgba(68,138,255,.8);
            color: #FFFFFF;
            border: 1px solid #448AFF;
            cursor: pointer;
            .css-tag {
              background: #FFFFFF;
            }
          }
        }
      }
    }
    .css-tags-box {
      .css-tags {
        margin-top: 10px;
        .css-tag {
          padding: 2px 7px;
          margin: 2px 4px;
          border: 1px solid #2962FF;
          background: rgba(255,255,255,.4);
          color: #2962FF;
          font-size: 14px;
          text-align: center;
          display: inline-block;
          transition: all 300ms 0s ease;
        }
        .css-selected-tag {
          border: 1px solid #1565C0;
          background: #1565C0;
          color: #FFFFFF;
        }
      }
    }
  }
  .css-modal-wrapper {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.7);
    z-index: 12;
    .css-modal {
      position: absolute;
      top: 0px;
      bottom: 0px;
      left: 0px;
      right: 0px;
      max-width: 600px;
      margin: auto;
    }
  }
}

@media screen and (min-width: 501px){
  .layout-4 {
    .css-wrapper {
      .css-header {
        h2 {
          padding-bottom: 20px;
        }
      }
      .css-tags-box {
        position: relative;
        .css-tags {
          position: absolute;
          right: 3px;
          bottom: 3px;
          width: 100%;
          text-align: right;
          .css-tag:hover {
            border: 1px solid #2196F3;
            background: #2196F3;
            color: #FFFFFF;
            cursor: pointer;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 500px){
  .layout-4 {
    .css-wrapper {
      h2 {
        margin: 0px 10px 10px;
      }
      .css-contents {
        .css-content-wrapper {
          .css-content {
            margin: 10px;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 1001px){
  .layout-4 {
    .css-wrapper {
      .css-contents {
        .css-content-wrapper {
          width: 20%;
        }
      }
    }
  }
}

@media screen and (min-width: 701px) and (max-width: 1000px){
  .layout-4 {
    .css-wrapper {
      .css-contents {
        .css-content-wrapper {
          width: 25%;
        }
      }
    }
  }
}

@media screen and (min-width: 501px) and (max-width: 700px){
  .layout-4 {
    .css-wrapper {
      .css-contents {
        .css-content-wrapper {
          width: 50%;
        }
      }
    }
  }
}
