@import url(http://fonts.googleapis.com/earlyaccess/notosansjapanese.css);@charset "UTF-8";
#header {
  position: fixed;
  width: 100%;
  top: 0px;
  left: 0px;
  background: #2196F3;
  color: #FFF;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
  z-index: 10; }
  #header h1 {
    padding: 3px 10px;
    font-size: 24px;
    font-weight: bold;
    font-family: serif;
    line-height: 32px; }
    #header h1 span {
      font-size: 12px;
      font-weight: normal; }
  #header .css-menu-item .css-menu-area {
    border: 1px solid #1976D2; }
    #header .css-menu-item .css-menu-area a {
      padding: 5px 0px 10px;
      color: #FFF;
      text-decoration: none;
      display: block; }
    #header .css-menu-item .css-menu-area .css-menu-child {
      border: 1px solid #1976D2;
      background: #1E88E5;
      box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); }

@media screen and (max-width: 500px) {
  #header .css-menu-icon {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 30px;
    padding: 6px; }
  #header .css-menu {
    position: absolute;
    top: 42px;
    right: 0px;
    width: 150px;
    background: #2196F3;
    box-shadow: -2px 2px 5px rgba(0, 0, 0, 0.3); }
    #header .css-menu .css-menu-item .css-description {
      font-size: 10px; }
    #header .css-menu .css-menu-item .css-menu-area {
      text-align: center; }
      #header .css-menu .css-menu-item .css-menu-area .css-menu-children {
        margin-bottom: 5px; }
        #header .css-menu .css-menu-item .css-menu-area .css-menu-children .css-menu-child {
          margin: 0px 5px;
          font-size: 14px; } }

@media screen and (min-width: 501px) {
  #header .css-menu-icon {
    display: none; }
  #header .css-menu-item {
    position: relative;
    width: 20%;
    float: left;
    background: #2196F3;
    text-align: center;
    transition: all 300ms 0s ease; }
    #header .css-menu-item .css-description {
      font-size: 12px; }
    #header .css-menu-item:hover {
      background: #64B5F6;
      cursor: pointer; }
    #header .css-menu-item .css-menu-children {
      position: absolute;
      width: 100%;
      top: 59px;
      left: 0px; }
      #header .css-menu-item .css-menu-children .css-menu-child {
        background: #2196F3;
        transition: all 300ms 0s ease; }
        #header .css-menu-item .css-menu-children .css-menu-child:hover {
          background: #64B5F6; } }

#home .firstview {
  height: 300px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; }

#home .firstview_1 {
  background-image: url("/image/firstview_1m.png"); }

#home .firstview_2 {
  background-image: url("/image/firstview_2m.png"); }

@media screen and (min-width: 501px) {
  #home .firstview {
    height: 500px; }
  #home .firstview_1 {
    background-image: url("/image/firstview_1.png"); }
  #home .firstview_2 {
    background-image: url("/image/firstview_2.png"); } }

@media screen and (min-width: 801px) {
  #home .firstview {
    height: 600px; } }

@media screen and (min-width: 1001px) {
  #home .firstview {
    height: 800px; } }

.layout-1 .css-bg-vision {
  background-image: url("/image/bg/vision.jpg"); }

.layout-1 .css-bg-classroom {
  background-image: url("/image/bg/classroom.jpg"); }

.layout-1 .css-bg-technology {
  background-image: url("/image/bg/technology.jpg"); }

.layout-1 .css-bg-sky {
  background-image: url("/image/bg/sky.jpg"); }

.layout-1 .css-bg-pencil {
  background-image: url("/image/bg/workshop.png"); }

.layout-1 .css-bg-about {
  background-image: url("/image/bg/about.jpg"); }

.layout-1 .css-bg-snow {
  background-image: url("/image/bg/snow.jpg"); }

.layout-1 .css-bg-star {
  background-image: url("/image/bg/star.jpg"); }

.layout-1 .css-bg-vision-1 {
  background-image: url("/image/bg/vision.jpg"); }

.layout-1 .css-bg-vision-2 {
  background-image: url("/image/bg/workshop.png"); }

.layout-1 .css-bg-vision-3 {
  background-image: url("/image/bg/actions.jpg"); }

.layout-1 .css-wrapper {
  padding: 10px;
  background-position: top;
  background-size: contain;
  background-repeat: no-repeat; }
  .layout-1 .css-wrapper .css-content {
    max-width: 600px;
    margin: 0px auto 10px;
    padding: 10px;
    border: 1px solid #757575;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7); }
    .layout-1 .css-wrapper .css-content h2 {
      padding: 5px 25px;
      margin: 0px auto 10px;
      border: 1px solid #1565C0;
      background: rgba(255, 255, 255, 0.5);
      color: #1565C0;
      font-size: 24px;
      text-align: center;
      box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
      display: inline-block; }
    .layout-1 .css-wrapper .css-content .css-title {
      padding: 0px 10px;
      font-size: 30px; }
    .layout-1 .css-wrapper .css-content .css-description {
      padding: 10px; }
    .layout-1 .css-wrapper .css-content .css-next-link {
      width: 160px;
      padding: 10px 15px;
      margin: 10px auto;
      border: 1px solid #FF5722;
      background: #FFF;
      color: #FF5722;
      text-decoration: none;
      text-align: center;
      box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
      display: block; }
      .layout-1 .css-wrapper .css-content .css-next-link:hover {
        background: #FF5722;
        color: #FFF; }

.layout-1 h2 {
  font-size: 30px; }

@media screen and (min-width: 501px) {
  .layout-1 .css-wrapper .css-content .css-description p {
    font-size: 18px; } }

.layout-2 .css-bg-pencil {
  background-image: url("/image/bg/workshop.png"); }

.layout-2 .css-bg-projects {
  background-image: url("/image/bg/projects.jpg"); }

.layout-2 .css-bg-members {
  background-image: url("/image/bg/members.jpg"); }

.layout-2 .css-wrapper {
  padding: 10px;
  background-position: top;
  background-size: contain;
  background-repeat: no-repeat; }
  .layout-2 .css-wrapper .css-content {
    max-width: 780px;
    margin: 0px auto 10px;
    padding: 10px;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7); }
    .layout-2 .css-wrapper .css-content h2 {
      padding: 0px 10px;
      font-size: 30px; }
    .layout-2 .css-wrapper .css-content .css-description {
      padding: 10px; }
      .layout-2 .css-wrapper .css-content .css-description .css-table {
        width: 100%;
        margin: 10px 0px; }
        .layout-2 .css-wrapper .css-content .css-description .css-table tr {
          border: 1px solid #333;
          background: #FFFFFF; }
          .layout-2 .css-wrapper .css-content .css-description .css-table tr:nth-child(even) {
            background: #E3F2FD; }
          .layout-2 .css-wrapper .css-content .css-description .css-table tr td {
            padding: 10px; }
  .layout-2 .css-wrapper .css-themes {
    max-width: 800px;
    margin: 0px auto;
    text-align: center; }
    .layout-2 .css-wrapper .css-themes .css-theme {
      position: relative;
      border: 1px solid #757575;
      padding: 10px;
      margin-bottom: 10px;
      background: rgba(255, 255, 255, 0.7);
      text-align: left;
      box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7); }
      .layout-2 .css-wrapper .css-themes .css-theme .css-image {
        background: #EEE; }
        .layout-2 .css-wrapper .css-themes .css-theme .css-image .css-image-link {
          width: 100%;
          height: 100%;
          display: block; }
      .layout-2 .css-wrapper .css-themes .css-theme .css-ws-content .css-pj-title {
        font-size: 30px;
        font-weight: bold; }
      .layout-2 .css-wrapper .css-themes .css-theme .css-ws-content .css-number {
        margin-right: 10px;
        font-size: 20px;
        font-weight: bold; }
      .layout-2 .css-wrapper .css-themes .css-theme .css-ws-content .css-link-btn {
        position: absolute;
        width: 180px;
        bottom: 5px;
        right: 5px;
        padding: 5px 10px;
        border: 1px solid #2196F3;
        background: #FFFFFF;
        color: #2196F3;
        text-align: center;
        display: block;
        transition: all 300ms 0s ease; }
        .layout-2 .css-wrapper .css-themes .css-theme .css-ws-content .css-link-btn:hover {
          background: #2196F3;
          color: #FFFFFF; }
      .layout-2 .css-wrapper .css-themes .css-theme .css-tags {
        position: absolute;
        right: 5px;
        bottom: 5px; }
        .layout-2 .css-wrapper .css-themes .css-theme .css-tags .css-tag {
          padding: 3px;
          margin: 0px 5px;
          border: 1px solid #689F38;
          color: #689F38;
          background: #FFF;
          font-size: 14px;
          box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
          display: inline-block; }

@media screen and (max-width: 500px) {
  .layout-2 .css-wrapper .css-themes .css-theme {
    padding-bottom: 45px; }
    .layout-2 .css-wrapper .css-themes .css-theme .css-image {
      height: 200px; }
    .layout-2 .css-wrapper .css-themes .css-theme .css-ws-content {
      padding: 5px 0px; } }

@media screen and (min-width: 501px) {
  .layout-2 .css-wrapper .css-content .css-description p {
    font-size: 18px; }
  .layout-2 .css-wrapper .css-themes .css-theme .css-image {
    width: 250px;
    height: 150px;
    float: left; }
  .layout-2 .css-wrapper .css-themes .css-theme .css-ws-content {
    margin-left: 260px; } }

.layout-3 .css-sidebar h2 {
  padding: 5px;
  text-align: center; }

.layout-3 .css-sidebar h3 {
  padding: 5px 10px;
  margin-top: 2px;
  background: #2196F3;
  color: #FFFFFF;
  border: 1px solid #2196F3;
  font-size: 17px;
  transition: all 300ms 0s ease; }
  .layout-3 .css-sidebar h3:hover {
    background: #42A5F5; }

.layout-3 .css-sidebar .css-side-menu .css-menu-title {
  padding: 10px 0px;
  border-bottom: 1px solid #1E88E5;
  border-left: 10px solid #FFFFFF;
  color: #616161;
  font-size: 14px;
  transition: all 300ms 0s ease; }
  .layout-3 .css-sidebar .css-side-menu .css-menu-title:hover {
    border-color: #42A5F5;
    background: #42A5F5;
    color: #FFFFFF;
    cursor: pointer; }

.layout-3 .css-main-content {
  padding: 10px; }
  .layout-3 .css-main-content h2 {
    color: #424242;
    font-size: 30px;
    padding: 5px 10px;
    border-bottom: 1px solid #2196F3;
    margin-bottom: 5px;
    font-weight: bold;
    font-family: serif; }
  .layout-3 .css-main-content .css-section h3 {
    padding: 5px 10px;
    border: 1px solid #2196F3;
    font-size: 18px; }
  .layout-3 .css-main-content .css-section .css-description {
    padding: 10px; }
    .layout-3 .css-main-content .css-section .css-description p {
      color: #616161;
      text-indent: .5em; }
    .layout-3 .css-main-content .css-section .css-description .css-list:before {
      content: '\25C6';
      margin-right: 5px; }
    .layout-3 .css-main-content .css-section .css-description .css-link-btn {
      width: 200px;
      padding: 5px 0px;
      margin: 15px auto;
      border: 1px solid #2196F3;
      background: #FFFFFF;
      color: #2196F3;
      text-align: center;
      display: block;
      box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
      transition: all 300ms 0s ease; }
      .layout-3 .css-main-content .css-section .css-description .css-link-btn:hover {
        background: #2196F3;
        color: #FFFFFF;
        cursor: pointer; }

@media screen and (min-width: 501px) {
  .layout-3 .css-sidebar {
    width: 200px;
    float: left; }
  .layout-3 .css-main-content {
    margin-left: 200px; } }

.css-404-error {
  padding: 40px 0px; }
  .css-404-error h1 {
    font-size: 32px;
    text-align: center; }
  .css-404-error p {
    text-align: center; }
  .css-404-error a {
    width: 150px;
    padding: 8px 15px 10px;
    margin: 10px auto;
    border: 1px solid #2196F3;
    color: #2196F3;
    text-decoration: none;
    text-align: center;
    display: block;
    transition: all 300ms 0s ease; }
    .css-404-error a:hover {
      background: #2196F3;
      color: #FFF; }

body {
  font-family: 'Noto Sans Japanese', sans-serif;
  font-size: 100%; }

a {
  color: #1976D2;
  text-decoration: none; }
  a:hover {
    color: #2196F3; }

.contentWrapper {
  margin-top: 42px; }

@media screen and (min-width: 501px) {
  .contentWrapper {
    margin-top: 101px; } }

.clear {
  clear: both; }

/*# sourceMappingURL=bundle.css.map*/