@import url(http://fonts.googleapis.com/earlyaccess/notosansjapanese.css);#header {
  position: fixed;
  width: 100%;
  top: 0px;
  left: 0px;
  background: #2196F3;
  color: #FFF;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3); }
  #header h1 {
    padding: 3px 10px;
    font-size: 24px;
    font-weight: bold;
    font-family: serif; }
    #header h1 span {
      font-size: 12px;
      font-weight: normal; }
  #header .css-menu-item .css-menu-area {
    border: 1px solid #1976D2; }
    #header .css-menu-item .css-menu-area a {
      padding: 5px 0px 10px;
      color: #FFF;
      text-decoration: none;
      display: block; }
    #header .css-menu-item .css-menu-area .css-menu-child {
      border: 1px solid #1976D2;
      background: #1E88E5;
      box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); }

@media screen and (max-width: 500px) {
  #header .css-menu-icon {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 30px;
    padding: 6px; }
  #header .css-menu {
    position: absolute;
    top: 42px;
    right: 0px;
    width: 150px;
    background: #2196F3;
    box-shadow: -2px 2px 5px rgba(0, 0, 0, 0.3); }
    #header .css-menu .css-menu-item .css-description {
      font-size: 10px; }
    #header .css-menu .css-menu-item .css-menu-area {
      text-align: center; }
      #header .css-menu .css-menu-item .css-menu-area .css-menu-children {
        margin-bottom: 5px; }
        #header .css-menu .css-menu-item .css-menu-area .css-menu-children .css-menu-child {
          margin: 0px 5px;
          font-size: 14px; } }

@media screen and (min-width: 501px) {
  #header .css-menu-icon {
    display: none; }
  #header .css-menu-item {
    position: relative;
    width: 20%;
    float: left;
    text-align: center; }
    #header .css-menu-item .css-description {
      font-size: 12px; }
    #header .css-menu-item:hover {
      background: #64B5F6;
      cursor: pointer; }
    #header .css-menu-item .css-menu-children {
      position: absolute;
      width: 100%;
      top: 59px;
      left: 0px; }
      #header .css-menu-item .css-menu-children .css-menu-child:hover {
        background: #64B5F6; } }

#home .firstview {
  height: 300px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; }

#home .firstview_1 {
  background-image: url("/image/firstview_1m.png"); }

#home .firstview_2 {
  background-image: url("/image/firstview_2m.png"); }

@media screen and (min-width: 501px) {
  #home .firstview {
    height: 500px; }
  #home .firstview_1 {
    background-image: url("/image/firstview_1.png"); }
  #home .firstview_2 {
    background-image: url("/image/firstview_2.png"); } }

@media screen and (min-width: 801px) {
  #home .firstview {
    height: 600px; } }

@media screen and (min-width: 1001px) {
  #home .firstview {
    height: 800px; } }

.layout-1 .css-bg-vision {
  background-image: url("/image/bg/vision.jpg"); }

.layout-1 .css-bg-classroom {
  background-image: url("/image/bg/classroom.jpg"); }

.layout-1 .css-bg-technology {
  background-image: url("/image/bg/technology.jpg"); }

.layout-1 .css-bg-sky {
  background-image: url("/image/bg/sky.jpg"); }

.layout-1 .css-bg-vision-1 {
  background-image: url("/image/bg/vision.jpg"); }

.layout-1 .css-bg-vision-2 {
  background-image: url("/image/bg/workshop.png"); }

.layout-1 .css-bg-vision-3 {
  background-image: url("/image/bg/actions.jpg"); }

.layout-1 .css-wrapper {
  padding: 10px;
  background-position: top;
  background-size: contain;
  background-repeat: no-repeat; }
  .layout-1 .css-wrapper .css-content {
    max-width: 600px;
    margin: 0px auto 10px;
    padding: 10px;
    background: rgba(255, 255, 255, 0.7);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7); }
    .layout-1 .css-wrapper .css-content h2 {
      padding: 5px 25px;
      margin: 0px auto 10px;
      border: 1px solid #1565C0;
      background: rgba(255, 255, 255, 0.5);
      color: #1565C0;
      font-size: 24px;
      text-align: center;
      box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
      display: inline-block; }
    .layout-1 .css-wrapper .css-content .css-title {
      padding: 0px 10px;
      font-size: 30px; }
    .layout-1 .css-wrapper .css-content .css-description {
      padding: 10px; }

.layout-1 h2 {
  font-size: 30px; }

.css-404-error {
  padding: 40px 0px; }
  .css-404-error h1 {
    font-size: 32px;
    text-align: center; }
  .css-404-error p {
    text-align: center; }
  .css-404-error a {
    width: 150px;
    padding: 8px 15px 10px;
    margin: 10px auto;
    border: 1px solid #2196F3;
    color: #2196F3;
    text-decoration: none;
    text-align: center;
    display: block; }
    .css-404-error a:hover {
      background: #2196F3;
      color: #FFF; }

body {
  font-family: 'Noto Sans Japanese', sans-serif;
  font-size: 100%; }

.contentWrapper {
  margin-top: 42px; }

@media screen and (min-width: 501px) {
  .contentWrapper {
    margin-top: 101px; } }

.clear {
  clear: both; }

/*# sourceMappingURL=bundle.css.map*/