@import url(https://fonts.googleapis.com/earlyaccess/notosansjapanese.css);
@import './css/reset.css';
@import './css/header.scss';
@import './css/home.scss';
@import './css/layout_1.scss';
@import './css/layout_2.scss';
@import './css/layout_3.scss';
@import './css/layout_4.scss';
@import './css/error.scss';

body {
  font-family: 'Noto Sans Japanese', sans-serif;
  font-size: 100%;
}

a {
  color: #1976D2;
  text-decoration: none;
  &:hover {
    color: #2196F3;
  }
}

.contentWrapper {
  margin-top: 42px;
}

@media screen and (min-width: 501px){
  .contentWrapper {
    margin-top: 101px;
  }
}

.clear {
  clear: both;
}
