@import url(http://fonts.googleapis.com/earlyaccess/notosansjapanese.css);
@import './css/header.scss';

body {
  font-family: 'Noto Sans Japanese', sans-serif;
  font-size: 100%;
}

.clear {
  clear: both;
}
.hide {
  display: none;
}
